In [2]:
import pandas as pd
import tensorflow as tf
import numpy as np

In [28]:
df_data = pd.read_csv('Audiobooks_data.csv', header = None)

In [29]:
df_data.columns = ['ID', 'Overall_book_length','Avg_book_length','Price_overall','Price_avg','Review','rev_score','Min_listened','Completion','Support','last_visit','targets']

In [30]:
df_data.targets.sum()/df_data.shape[0]

0.1588327179778472

In [31]:
clean_data = df_data.copy()

In [32]:
clean_data.drop('ID', axis =1)

,Overall_book_length,Avg_book_length,Price_overall,Price_avg,Review,rev_score,Min_listened,Completion,Support,last_visit,targets
0,1620.0,1620,19.73,19.73,1,10.00,0.99,1603.8,5,92,0
1,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,0,0
2,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,388,0
3,1620.0,1620,5.96,5.96,0,8.91,0.42,680.4,1,129,0
4,2160.0,2160,5.33,5.33,0,8.91,0.22,475.2,0,361,0
...,...,...,...,...,...,...,...,...,...,...,...
14079,1620.0,1620,5.33,5.33,1,9.00,0.61,988.2,0,4,0
14080,1080.0,1080,6.55,6.55,1,6.00,0.29,313.2,0,29,0
14081,2160.0,2160,6.14,6.14,0,8.91,0.00,0.0,0,0,0
14082,1620.0,1620,5.33,5.33,1,8.00,0.38,615.6,0,90,0
14083,1674.0,3348,5.33,10.67,0,8.91,0.00,0.0,0,0,1

In [37]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14084 entries, 0 to 14083
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   14084 non-null  int64
 1   Overall_book_length  14084 non-null  float64
 2   Avg_book_length      14084 non-null  int64
 3   Price_overall        14084 non-null  float64
 4   Price_avg            14084 non-null  float64
 5   Review               14084 non-null  int64
 6   rev_score            14084 non-null  float64
 7   Min_listened         14084 non-null  float64
 8   Completion           14084 non-null  float64
 9   Support              14084 non-null  int64
 10  last_visit           14084 non-null  int64
 11  targets              14084 non-null  int64
dtypes: float64(6), int64(6)
memory usage: 1.3 MB

In [36]:
clean_data

,ID,Overall_book_length,Avg_book_length,Price_overall,Price_avg,Review,rev_score,Min_listened,Completion,Support,last_visit,targets
0,994,1620.0,1620,19.73,19.73,1,10.00,0.99,1603.8,5,92,0
1,1143,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,0,0
2,2059,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,388,0
3,2882,1620.0,1620,5.96,5.96,0,8.91,0.42,680.4,1,129,0
4,3342,2160.0,2160,5.33,5.33,0,8.91,0.22,475.2,0,361,0
...,...,...,...,...,...,...,...,...,...,...,...,...
14079,28220,1620.0,1620,5.33,5.33,1,9.00,0.61,988.2,0,4,0
14080,28671,1080.0,1080,6.55,6.55,1,6.00,0.29,313.2,0,29,0
14081,31134,2160.0,2160,6.14,6.14,0,8.91,0.00,0.0,0,0,0
14082,32832,1620.0,1620,5.33,5.33,1,8.00,0.38,615.6,0,90,0
14083,251,1674.0,3348,5.33,10.67,0,8.91,0.00,0.0,0,0,1

In [47]:
majority_class = clean_data[clean_data.targets == 0]

In [48]:
minority_class = clean_data[clean_data.targets == 1]

In [49]:
minority_class

,ID,Overall_book_length,Avg_book_length,Price_overall,Price_avg,Review,rev_score,Min_listened,Completion,Support,last_visit,targets
7,9011,648.0,648,5.33,5.33,0,8.91,0.0,0.0,0,0,1
11,16370,2160.0,2160,5.33,5.33,0,8.91,0.0,0.0,0,0,1
15,19996,594.0,1188,29.33,58.67,0,10.00,0.0,0.0,0,0,1
22,27030,1188.0,4752,6.00,23.99,0,10.00,0.0,0.0,0,176,1
24,29095,1404.0,2808,27.99,55.99,0,8.91,0.0,0.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
14056,8782,1476.0,4428,5.33,16.00,0,8.91,0.0,0.0,0,0,1
14059,15827,2160.0,2160,5.33,5.33,0,8.91,0.0,0.0,0,12,1
14070,20609,2160.0,2160,5.33,5.33,1,10.00,0.0,0.0,0,6,1
14076,23228,1674.0,3348,7.99,15.99,0,8.91,0.0,0.0,0,0,1
14083,251,1674.0,3348,5.33,10.67,0,8.91,0.0,0.0,0,0,1

In [53]:
! pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.6.1-cp310-cp310-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\jae-eunpark\anaconda3\envs\tf\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\jae-eunpark\anaconda3\envs\tf\lib\site-packages (from scikit-learn) (1.15.1)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Using cached scikit_learn-1.6.1-cp310-cp310-win_amd64.whl (11.1 MB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 threadpoolctl-3.6.0

In [54]:
from sklearn.utils import resample

In [56]:
majority_downsampled = resample(majority_class, replace =False, n_samples = len(minority_class), random_state = 10)

In [57]:
majority_downsampled

,ID,Overall_book_length,Avg_book_length,Price_overall,Price_avg,Review,rev_score,Min_listened,Completion,Support,last_visit,targets
9463,17827,2160.0,2160,5.33,5.33,0,8.91,0.09,194.4,0,7,0
11135,21961,1620.0,1620,8.61,8.61,0,8.91,0.04,64.8,0,0,0
4212,106,2160.0,2160,7.99,7.99,0,8.91,0.00,0.0,0,0,0
13276,13895,1620.0,1620,8.00,8.00,0,8.91,0.00,0.0,0,4,0
7612,15792,1188.0,1188,5.33,5.33,1,10.00,1.00,1188.0,1,253,0
...,...,...,...,...,...,...,...,...,...,...,...,...
125,4422,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,74,0
6018,20459,2160.0,2160,8.00,8.00,0,8.91,0.00,0.0,0,78,0
387,3410,2160.0,2160,8.00,8.00,1,10.00,0.90,1944.0,0,101,0
3794,4058,2160.0,2160,6.91,6.91,0,8.91,0.13,280.8,1,123,0
5306,16032,2160.0,2160,8.00,8.00,0,8.91,0.00,0.0,0,95,0

In [58]:
balanced_df =pd.concat([majority_downsampled, minority_class])

In [59]:
balanced_df

,ID,Overall_book_length,Avg_book_length,Price_overall,Price_avg,Review,rev_score,Min_listened,Completion,Support,last_visit,targets
9463,17827,2160.0,2160,5.33,5.33,0,8.91,0.09,194.4,0,7,0
11135,21961,1620.0,1620,8.61,8.61,0,8.91,0.04,64.8,0,0,0
4212,106,2160.0,2160,7.99,7.99,0,8.91,0.00,0.0,0,0,0
13276,13895,1620.0,1620,8.00,8.00,0,8.91,0.00,0.0,0,4,0
7612,15792,1188.0,1188,5.33,5.33,1,10.00,1.00,1188.0,1,253,0
...,...,...,...,...,...,...,...,...,...,...,...,...
14056,8782,1476.0,4428,5.33,16.00,0,8.91,0.00,0.0,0,0,1
14059,15827,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,12,1
14070,20609,2160.0,2160,5.33,5.33,1,10.00,0.00,0.0,0,6,1
14076,23228,1674.0,3348,7.99,15.99,0,8.91,0.00,0.0,0,0,1
14083,251,1674.0,3348,5.33,10.67,0,8.91,0.00,0.0,0,0,1

In [70]:
balanced_df.drop('ID', axis=1)

,Overall_book_length,Avg_book_length,Price_overall,Price_avg,Review,rev_score,Min_listened,Completion,Support,last_visit
9463,2160.0,2160,5.33,5.33,0,8.91,0.09,194.4,0,7
11135,1620.0,1620,8.61,8.61,0,8.91,0.04,64.8,0,0
4212,2160.0,2160,7.99,7.99,0,8.91,0.00,0.0,0,0
13276,1620.0,1620,8.00,8.00,0,8.91,0.00,0.0,0,4
7612,1188.0,1188,5.33,5.33,1,10.00,1.00,1188.0,1,253
...,...,...,...,...,...,...,...,...,...,...
14056,1476.0,4428,5.33,16.00,0,8.91,0.00,0.0,0,0
14059,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,12
14070,2160.0,2160,5.33,5.33,1,10.00,0.00,0.0,0,6
14076,1674.0,3348,7.99,15.99,0,8.91,0.00,0.0,0,0
14083,1674.0,3348,5.33,10.67,0,8.91,0.00,0.0,0,0

In [61]:
df_targets = balanced_df.pop('targets')

In [72]:
balanced_df = balanced_df.drop('ID',axis =1)

In [62]:
from sklearn.preprocessing import StandardScaler

In [73]:
scaler = StandardScaler()

In [74]:
scaler.fit(balanced_df)

StandardScaler()

In [89]:
scaler.transform(balanced_df)

array([[ 1.20889336,  0.36992361, -0.34349918, ...,  0.26046417,
        -0.1457953 , -0.69777448],
       [ 0.11479392, -0.2509175 ,  0.2603163 , ..., -0.16838415,
        -0.1457953 , -0.77254149],
       [ 1.20889336,  0.36992361,  0.14618045, ..., -0.38280831,
        -0.1457953 , -0.77254149],
       ...,
       [ 1.20889336,  0.36992361, -0.34349918, ..., -0.38280831,
        -0.1457953 , -0.70845548],
       [ 0.22420386,  1.73577404,  0.14618045, ..., -0.38280831,
        -0.1457953 , -0.77254149],
       [ 0.22420386,  1.73577404, -0.34349918, ..., -0.38280831,
        -0.1457953 , -0.77254149]])

In [93]:
features_df = pd.DataFrame(scaler.transform(balanced_df), columns = ['Overall_book_length','Avg_book_length','Price_overall','Price_avg','Review','rev_score','Min_listened','Completion','Support','last_visit'])

In [96]:
features_df

,Overall_book_length,Avg_book_length,Price_overall,Price_avg,Review,rev_score,Min_listened,Completion,Support,last_visit
0,1.208893,0.369924,-0.343499,-0.465875,-0.447334,-0.005466,0.069148,0.260464,-0.145795,-0.697774
1,0.114794,-0.250917,0.260316,0.004144,-0.447334,-0.005466,-0.184265,-0.168384,-0.145795,-0.772541
2,1.208893,0.369924,0.146180,-0.084701,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541
3,0.114794,-0.250917,0.148021,-0.083268,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.729817
4,-0.760486,-0.747590,-0.343499,-0.465875,2.235468,1.518467,4.681261,3.548301,1.501397,1.929752
...,...,...,...,...,...,...,...,...,...,...
4469,-0.176966,2.977456,-0.343499,1.063120,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541
4470,1.208893,0.369924,-0.343499,-0.465875,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.644369
4471,1.208893,0.369924,-0.343499,-0.465875,2.235468,1.518467,-0.386995,-0.382808,-0.145795,-0.708455
4472,0.224204,1.735774,0.146180,1.061687,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541
4473,0.224204,1.735774,-0.343499,0.299339,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541

In [109]:
targets_reset =pd.DataFrame(df_targets, columns =['targets'],).reset_index(drop=True)

In [110]:
targets_reset

      targets
0           0
1           0
2           0
3           0
4           0
...       ...
4469        1
4470        1
4471        1
4472        1
4473        1

[4474 rows x 1 columns]

In [113]:
sc_bal_df = pd.concat([features_df,targets_reset], axis=1)

In [114]:
sc_bal_df

,Overall_book_length,Avg_book_length,Price_overall,Price_avg,Review,rev_score,Min_listened,Completion,Support,last_visit,targets
0,1.208893,0.369924,-0.343499,-0.465875,-0.447334,-0.005466,0.069148,0.260464,-0.145795,-0.697774,0
1,0.114794,-0.250917,0.260316,0.004144,-0.447334,-0.005466,-0.184265,-0.168384,-0.145795,-0.772541,0
2,1.208893,0.369924,0.146180,-0.084701,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541,0
3,0.114794,-0.250917,0.148021,-0.083268,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.729817,0
4,-0.760486,-0.747590,-0.343499,-0.465875,2.235468,1.518467,4.681261,3.548301,1.501397,1.929752,0
...,...,...,...,...,...,...,...,...,...,...,...
4469,-0.176966,2.977456,-0.343499,1.063120,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541,1
4470,1.208893,0.369924,-0.343499,-0.465875,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.644369,1
4471,1.208893,0.369924,-0.343499,-0.465875,2.235468,1.518467,-0.386995,-0.382808,-0.145795,-0.708455,1
4472,0.224204,1.735774,0.146180,1.061687,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541,1
4473,0.224204,1.735774,-0.343499,0.299339,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541,1

In [115]:
from sklearn.model_selection import train_test_split

In [117]:
X_train, X_test, y_train, y_test = train_test_split(features_df,targets_reset, test_size = 0.2 , random_state = 10)

In [118]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size = 0.2 , random_state = 10)

In [119]:
X_train

,Overall_book_length,Avg_book_length,Price_overall,Price_avg,Review,rev_score,Min_listened,Completion,Support,last_visit
2287,-2.511045,-1.740936,0.540133,0.221958,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541
4036,-0.815191,3.225793,0.024681,2.973289,-0.447334,0.120364,-0.386995,-0.382808,-0.145795,-0.612326
1110,-0.760486,-0.747590,-0.196227,-0.351236,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541
1389,-0.979306,-0.871759,-0.343499,-0.465875,2.235468,1.518467,4.681261,3.190928,1.501397,-0.655050
3150,0.224204,1.735774,-0.196227,0.528617,-0.447334,1.518467,-0.386995,-0.382808,-0.145795,2.474483
...,...,...,...,...,...,...,...,...,...,...
4356,0.114794,-0.250917,0.148021,-0.083268,2.235468,1.518467,-0.386995,-0.382808,-0.145795,-0.580283
4075,0.114794,-0.250917,0.540133,0.221958,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,0.519860
4177,1.208893,0.369924,0.148021,-0.083268,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541
1134,1.208893,0.369924,0.148021,-0.083268,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541
1738,1.208893,0.369924,-0.282749,-0.418586,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.259853

In [120]:
X_val

,Overall_book_length,Avg_book_length,Price_overall,Price_avg,Review,rev_score,Min_listened,Completion,Support,last_visit
3533,0.114794,-0.250917,-0.343499,-0.465875,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541
1454,1.208893,0.369924,-0.113387,-0.286752,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541
2239,-1.963995,-0.747590,4.074663,7.177667,-0.447334,1.518467,-0.386995,-0.382808,-0.145795,-0.772541
2199,1.208893,0.369924,-0.343499,-0.465875,2.235468,-2.675843,1.133481,1.761433,-0.145795,0.178068
649,1.208893,0.369924,0.148021,-0.083268,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541
...,...,...,...,...,...,...,...,...,...,...
3842,-0.432256,0.990765,-0.343499,0.299339,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541
3435,1.208893,0.369924,-0.343499,-0.465875,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541
3542,-0.760486,-0.747590,-0.262500,-0.402823,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.708455
1452,1.208893,0.369924,0.148021,-0.083268,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.644369
807,0.114794,-0.250917,0.050454,-0.159216,-0.447334,-0.005466,-0.386995,-0.382808,-0.145795,-0.772541

In [123]:
y_train.sum()/len(y_train)

targets    0.501222
dtype: float64

In [138]:
np.savez('Audiobooks_train_data', inputs=X_train, targets =y_train)
np.savez('Audiobooks_val_data', inputs=X_val, targets =y_val)
np.savez('Audiobooks_test_data', inputs=X_test, targets =y_test)

In [139]:
npz  = np.load('Audiobooks_train_data.npz')

In [140]:
train_inputs = npz['inputs'].astype(np.float32)

In [147]:
train_targets = npz['targets'].astype(np.int32)

In [149]:
npz_val  = np.load('Audiobooks_val_data.npz')
val_inputs = npz_val['inputs'].astype(np.float32)
val_targets = npz_val['targets'].astype(np.int32)

In [150]:
npz_test  = np.load('Audiobooks_test_data.npz')
test_inputs = npz_test['inputs'].astype(np.float32)
test_targets = npz_test['targets'].astype(np.int32)

In [144]:
input_size = 10
output_size =2
hidden_layer_size =50

model =tf.keras.Sequential([
                            tf.keras.layers.Dense(hidden_layer_size, activation='relu'),
                            tf.keras.layers.Dense(hidden_layer_size, activation='relu'),
                            tf.keras.layers.Dense(output_size, activation='softmax'),
    
])

In [172]:
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy']  )
batch_size =200
max_epochs =100

early_stopping = tf.keras.callbacks.EarlyStopping(patience=2)

In [173]:
model.fit(train_inputs, 
          train_targets, 
          batch_size = batch_size, 
          epochs= max_epochs, 
          validation_data=(val_inputs, val_targets), 
          callbacks = [early_stopping],
          verbose =2 )

Epoch 1/100
15/15 - 1s - loss: 0.3331 - accuracy: 0.8177 - val_loss: 0.3525 - val_accuracy: 0.8212 - 561ms/epoch - 37ms/step
Epoch 2/100
15/15 - 0s - loss: 0.3280 - accuracy: 0.8236 - val_loss: 0.3464 - val_accuracy: 0.8156 - 57ms/epoch - 4ms/step
Epoch 3/100
15/15 - 0s - loss: 0.3280 - accuracy: 0.8226 - val_loss: 0.3464 - val_accuracy: 0.8128 - 57ms/epoch - 4ms/step
Epoch 4/100
15/15 - 0s - loss: 0.3280 - accuracy: 0.8219 - val_loss: 0.3621 - val_accuracy: 0.8045 - 57ms/epoch - 4ms/step

In [174]:
test_loss, test_accuracy = model.evaluate(test_inputs, test_targets)

28/28 [==============================] - 0s 1ms/step - loss: 0.3538 - accuracy: 0.8011